#PIN MAP for the gbap2++
NET reset LOC = "P99";
NET "SA0" LOC = "P97";
NET "SA12" LOC = "P96";
NET "IOW" LOC = "P95";
NET "BALE" LOC = "P94";
NET "WAIT" LOC = "P93";
NET "CLRG" LOC = "P92";
NET "IOR" LOC = "P91";
NET "MEMR" LOC = "P90";
NET "MEMW" LOC = "P89";
NET "DG[2]" LOC = "P87";
NET "DG[3]" LOC = "P86";
NET "DG[4]" LOC = "P85";
NET "DG[7]" LOC = "P82";
NET "DG[6]" LOC = "P81";
NET "DG[5]" LOC = "P79";
NET "IO[1]" LOC = "P78";
NET "IO[2]" LOC = "P77";
NET "IO[3]" LOC = "P76";
NET "DG[1]" LOC = "P74";
NET "DG[0]" LOC = "P72";
NET "DG[15]" LOC = "P71";
NET "DG[14]" LOC = "P70";
NET "DG[13]" LOC = "P68";
NET "DG[12]" LOC = "P67";
NET "DG[11]" LOC = "P66";
NET "DG[10]" LOC = "P65";
NET "DG[9]" LOC = "P64";
NET "DG[8]" LOC = "P63";
NET "MONISW" LOC = "P61";
NET "SLAVE" LOC = "P60";
NET "CFGOUT" LOC = "P59";
NET "CFGIN" LOC = "P58";
NET "XRDYD" LOC = "P56";
NET "A[5]" LOC = "P55";
NET "A[6]" LOC = "P54";
NET "A[4]" LOC = "P53";
NET "A[3]" LOC = "P52";
NET "A[2]" LOC = "P50";
NET "A[1]" LOC = "P49"; 
NET "A[12]" LOC = "P42";
NET "A[15]" LOC = "P41";
NET "A[16]" LOC = "P40";
NET "BERR" LOC = "P39";
NET "A[17]" LOC = "P37";
NET "A[18]" LOC = "P36";
NET "A[19]" LOC = "P35";
NET "A[20]" LOC = "P33";
NET "A[22]" LOC = "P32";
NET "A[21]" LOC = "P30";
NET "A[23]" LOC = "P29"; 
NET "DA[15]" LOC = "P28";
NET "DA[14]" LOC = "P27";
NET "RW" LOC = "P25";
NET "AS" LOC = "P23";
NET "mclk" LOC = "P22";
NET "DA[13]" LOC = "P20";
NET "LDS" LOC = "P18";
NET "DA[12]" LOC = "P17";
NET "UDS" LOC = "P16";
NET "DA[11]" LOC = "P15";
NET "DA[0]" LOC = "P14";
NET "DA[10]" LOC = "P13";
NET "DA[1]" LOC = "P12";
NET "DA[9]" LOC = "P11";
NET "DA[2]" LOC = "P10";
NET "DA[8]" LOC = "P9";
NET "DA[3]" LOC = "P8";
NET "DA[7]" LOC = "P6";
NET "DA[4]" LOC = "P4";
NET "DA[6]" LOC = "P3";
NET "DA[5]" LOC = "P1";
